<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boleto Compra</title>
    <link rel="stylesheet" href="../css/boletoCompra.css">
</head>
<body>
    <div class="container">
        <div class="movie-header">
            <img src="../storage/img/arrow.png" alt="Back" class="back-button" onclick="goToHome()">
            <h1>Boleto</h1>
            <img src="../storage/img/points.png" alt="More options" class="more-options">
        </div>
    </div>

    <section>
        <div class="ticket-container">
            <div class="ticket-content">
                <div class="ticket-header">
                    <img src="../storage/img/witches.jpg" alt="Puss in Boots" class="ticket-image">
                    <div class="ticket-title">
                        <h1>The witches</h1>
                        <p>Show this ticket at the entrance</p>
                    </div>
                    <div class="ticket-cinema">
                        <div class="ticket-box">
                            <h1>Cinema</h1>
                            <h2>Cine Campus</h2>
                        </div>
                        <div class="ticket-box2">
                            <img src="https://i.pinimg.com/564x/16/b2/02/16b2023f48d4439ffee538511502d299.jpg" alt="img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>