<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Tarjeta VIP</title>
    <link rel="stylesheet" href="../css/registrar.css">
    <link rel="stylesheet" href="../css/tarjeta.css">
    <script src="../javascript/registrarTarjeta.js" defer></script>
</head>
<body>
    <div class="container">
        <div class="content">
            <h1>Registro Tarjeta VIP</h1>
            <br>
            <p class="highlighted-text">Querido administrador, registre</p>
            <p class="highlighted-text">la tarjeta del nuevo usuario VIP</p>
            <br>
            <p>Ingresa el Nickname, id o identificación para crearla:</p>
            <br>
            <form class="tarjetaVipForm" id="tarjetaVipForm">
                <input class="usuarioInput" type="text" id="usuarioIinput nput" placeholder="Escribe aquí...">
                <button class="usuarioButton" type="submit">Crear Tarjeta VIP</button>
            </form>
            <p id="mensajeResultado"></p>
            <div class="boxes">
                <div class="boxes-base">
                    <a href="/views/registrar.html" class="boxes-left">
                        <p>Retroceder</p>
                    </a>
                    <a href="/index.html" class="boxes-right">                        
                        <p>Iniciar Sesión</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="image-container">
            <img src="../storage/img/newLogo.webp" alt="Palomitas" class="popcorn">
        </div>
    </div>
    <div id="popup" class="popup">
        <div class="popup-content">
            <p id="popupMessage"></p>
            <button class="close-btn" onclick="closePopup()">Cerrar</button>
        </div>
    </div>
</body>
</html>
